In [1]:
import pandas as pd
import numpy as np
import re 

data = pd.read_csv('personnes(1).csv')
print(data)

   prenom                                   email date_naissance  \
0   Leila                       leila@example.com     23/01/1990
1  Samuel                  samuel_329@example.com     20/09/2001
2   Radia                choupipoune@supermail.eu  12 sept. 1984
3    Marc  marco23@example.com, mc23@supermail.eu     10/02/1978
4    Heri                 helloworld@supermail.eu     05/03/2008
5   Hanna                  hanna2019@supermail.eu     01/01/1970
6  samuël                  samuel_329@example.com            NaN

            pays taille
0         France  1.49m
1            NaN  1.67m
2  Côte d'ivoire  153cm
3         France  1.65m
4     Madagascar  1.34m
5             24  3.45m
6          Bénin  1.45m

In [2]:
print(data.isnull().sum())

prenom            0
email             0
date_naissance    1
pays              1
taille            0
dtype: int64

In [ ]:

data.loc[data['email'].duplicated(keep=False),:]

   prenom                   email date_naissance   pays taille
1  Samuel  samuel_329@example.com     20/09/2001    NaN  1.67m
6  samuël  samuel_329@example.com            NaN  Bénin  1.45m

In [ ]:
data['nom_colonne'] = nouvelle_colonne

NameError: name 'nouvelle_colonne' is not defined

In [7]:
mask = # condition à vérifier pour cibler spécifiquement certaines lignes
data.loc[mask, 'ma_colonne'] = nouvelles_valeurs

SyntaxError: invalid syntax (178213073.py, line 1)

In [8]:
data = pd.read_csv('course+-+Quiz+P2-V2.csv')
print(data)

    Position;Sexe;Temps;Dept;Temps_secondes;Age
0                     1;M;00:32:23;76;1943;40.0
1                     2;M;00:32:40;27;1960;34.0
2                     3;M;00:33:15;76;1995;44.0
3                     4;M;00:33:23;76;2003;46.0
4                     5;M;00:33:29;76;2009;26.0
..                                          ...
335                 336;F;01:08:34;27;4114;41.0
336                 337;F;01:08:36;27;4116;48.0
337                 338;M;01:09:31;27;4171;24.0
338                 339;F;01:09:31;27;4171;25.0
339                 340;F;01:10:31;76;4231;41.0

[340 rows x 1 columns]

In [24]:
import pandas as pd


df = pd.DataFrame(data)

# Liste des départements valides
valid_departments = ['27', '76', '14']  # Remplacez par vos départements valides

# Vérifier les intrus
intruders = df[~df['Dept'].isin(valid_departments)]

# Afficher les intrus s'il y en a
if not intruders.empty:
    print("Intrus trouvés :")
    print(intruders)
else:
    print("Aucun intrus trouvé.")

Aucun intrus trouvé.